/* color palette */
:root {
    --site-primary: #9792e4;
    --site-accent: #fdc15f;
    --site-light: #0084fd;
    --site-lightest: #b5ddff;
    --site-lighter: #ffffff;
    --site-dark: #333333;
    --site-darker: #111111;

}

.debug header {
    height: 50px;
    display: flex;
}

.debug footer {
    height: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

}

.container-sm {
    width: 70%;
    margin: auto;

}

.container-xs {
    width: 60%;
    margin: auto;

}



.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;



}

.white{
    color: var(--site-lighter);
    
}


img {
    display: block;
}

.col-4 {
    width: calc((100% / 12) *4);
}

.col-6 {
    width: calc((100% / 12) *6);
}

.col-8 {
    width: calc((100% / 12) *8);
}

.col-12 {
    width: 100%;
}

.d-flex{
    display: flex;
}

.t-a-center{
    text-align: center;
}

/* #region Header section */

#site_header {
    background-color: var(--site-light);
    color: var(--site-lighter);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    display: none;

    & ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        align-items: center;
    }

    & li>button {
        padding: 5px 7px;
        border-radius: 20px;
        border: none;

    }


}

.logo {
    display: flex;
    align-items: center;
}

/* #endregion Header section */

.demo{
    padding: 2rem 0;
}

.card {
    background-color: var(--site-lightest);
    border-radius: 30px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    position: relative;

    



    & .image>img {
        width: 200px;
    }
}

.card_big{
    padding-right: 1rem;
}

.card_white{
    background-color: var(--site-lighter);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
    height: 100%;

    
}

.card_white_small{
    background-color: var(--site-lighter);
    border-radius: 30px;
    padding: 2rem;
    height: 100%;

    & .number{
        color: var(--site-primary);
        font-size: 50px;
    }
}

.arrow{
    background-color: var(--site-primary);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card_white>p{
    padding-top: 1rem;
    font-weight: bold;

}
.card_white>em{
    padding: 1rem 0 ;

}

.description{
    width: 50%;
}

.image{
    padding-left: 40px;
    position: absolute;
    bottom: 0;
    right: 3rem;
}

.intestation{
    color: var(--site-light);
    font-weight: bold;
}

.explication{
    padding: 1.5rem 0;
}

.item>i{
   font-size: 50px;
   padding-bottom: 20px;
   color: var(--site-light);
}

.app_store{
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--site-light);
    color: var(--site-lighter);
    border-radius: 30px;
    letter-spacing: 2px;
}

.planning {
    background-color: var(--site-primary);
    padding: 4rem 0;
}

.strategic_planning{
    color: var(--site-lighter);
    padding-top: 3rem;

    

}

.purple_card{
    background-color: var(--site-primary);
    border-radius: 50px;
    display: flex;
    padding: 1rem;
    align-items: center;
    
}
.testimonials{
    padding-bottom: 3rem;
}

.strategic_planning> h2{
    padding-bottom: 1rem;
}

.big{
    font-size: 36px;
    color: var(--site-primary);
    padding: 1rem;
    font-weight: bold;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.title_big{
    text-align: center;
    font-size: 45px;
    padding: 3rem 0;
}

.round_image{
    padding-right: 2rem ;
}

.round_image>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}

.cit{
    color: var(--site-lighter);
}

.qualities{
    color: var(--site-primary);
    padding: 1rem 0;
    font-weight: bold;
    font-size: 20px;
}

.more_button{
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--site-primary);
    color: var(--site-lighter);
    border-radius: 30px;
    letter-spacing: 2px;
    margin-top: 1rem;

}

.author{
    padding-top: 1rem;
}

.benefits {
    background-color: var(--site-primary);
}

.get_started {
    background-color: var(--site-primary);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .its_free {
        color: var(--site-accent);
        font-size: 36px;

    }
}

#site_footer {
    background-color: var(--site-dark);
}

@media screen and (min-width:768px) {

    .col-sm-8 {
        width: calc((100%/12)*8 - 1rem);
    }

    .col-sm-4 {
        width: calc((100%/12)*4 - 1rem);
        
    }

    .col-sm-6 {
        width: calc((100%/12)*6);
    }
}

@media screen and (min-width:992px) {
    .col-md-4 {
        width: calc((100%/12)*4);
    }

    .col-md-6 {
        width: calc((100%/12)*6 - 1rem);
    }

    .col-md-8 {
        width: calc((100%/12)*8);
    }
}

@media screen and (min-width:1200px) {

    .col-xl-4 {
        width: calc((100%/12)*4 - 1rem);
    }

    .col-xl-6 {
        width: calc((100%/12)*6);
    }

    .container {
        width: 70%;
    }

    .menu {
        display: contents;
    }

    .menu-sm {
        display: none;
    }
}